.row{
    background: #3e68c4;
    font-size: 1rem;
    display: flex;
}
.fa{
    color: white;
    font-size: 13px;
    padding: 10px;
    text-align: center;
}
.fa:hover{
    opacity: 0.7;
    color: whitesmoke;
    background-color:blue ;
}
.fa-facebook{
    color: white;
    background: rgb(62, 104, 196);
}
.fa-twitter{
    color: white;
    background: rgb(62, 104, 196);
}
.fa-instagram{
    color: white;
    background: rgb(62, 104, 196);
}
.fa-youtube{
    color: white;
    background: rgb(62, 104, 196);
}
#im{
    width: 20px;
}
#im:hover{
    opacity: 0.7;
    cursor: pointer;
    color: whitesmoke;
    background-color: blue;
}


ul{
    list-style-type: none;
    margin-left: 200px;
    text-align: center;

}
.li{
    float: left;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 12px;
}
.li:hover{
    background-color: blue;
    cursor: pointer;
    width: 100px;
    height: 40px;
}

.but{
    float: left;
    background-color: blue;
    border-radius: 12px;
    margin-top: 16px;
    padding: 10px;
    width: 80px;
    height: 40px;
}

/* .nav-item:hover{
    background-color: blue;
    border-radius: 12px;
    align-items: center;
    height: 39px;
} */
.btn-default{
    font-family: "Arial Bold", Gadget, sans-serif;
    font-style: normal;
    font-size: 15px ! important;
    height: 33px !important;
    width: 68px !important;
    background-color:  #3e68c4 !important;
    border-radius: 15px !important;
    margin-top: 10px !important;
    text-align: center !important;
    color: white !important;
}
.mr-auto {
    margin-left: auto !important;
}
.nav-link{
    font-family: "Arial Bold", Gadget, sans-serif;
    font-style: normal !important;
    font-size: 15px ! important;
    margin-top: 10px;
}
li{
    padding-left: 0px;
}

.nav-link:hover{
    text-align: center;
    display: block;
    color: white !important;
    background-color: #3e68c4;
    border-radius: 15px;
    height: 39px;
}

  